.container {
    text-align: center;
    padding: 20px;
}

.titulo-celular{
    color: rgb(255, 193, 7);
}

.btnTop-celular:hover, .btnTop-celular:focus-visible {
  background:  rgb(255, 193, 7);
  border: 2px solid rgb(255, 193, 7);
  outline: none;
  transition: background-color 0.3s, border-color 0.3s; 
}

.titulo-genetica {
    color: rgb(7, 57, 131);
}

.btnTop-genetica:hover, .btnTop-genetica:focus-visible {
  background:  rgb(7, 57, 131);
  border: 2px solid rgb(7, 57, 131);
  outline: none;
  transition: background-color 0.3s, border-color 0.3s; 
}

:host-context([data-bs-theme="dark"]) .titulo-genetica {
    color: rgb(61, 139, 253);
    transition: color 0.2s;
}

:host-context([data-bs-theme="dark"]) .btnTop-genetica:hover,
:host-context([data-bs-theme="dark"]) .btnTop-genetica:focus-visible {
    background: rgb(61, 139, 253);
    transition: background-color 0.2s;
}

.titulo-ecologia {
    color: rgb(0, 128, 0);
}

.btnTop-ecologia:hover, .btnTop-ecologia:focus-visible {
  background:  rgb(0, 128, 0);
  border: 2px solid rgb(0, 128, 0);
  outline: none;
  transition: background-color 0.3s, border-color 0.3s; 
}

:host-context([data-bs-theme="dark"]) .titulo-ecologia {
    color: rgb(19, 223, 19);
    transition: color 0.2s;
}

:host-context([data-bs-theme="dark"]) .btnTop-ecologia:hover,
:host-context([data-bs-theme="dark"]) .btnTop-ecologia:focus-visible {
    background: rgb(19, 223, 19);
    transition: background-color 0.2s;
}

.tema {
    border: 2px solid yellow;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 350px;
}

button {
    display: block;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: black;
    color: white;
    border: 2px solid yellow;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 480px) {

    .container {
        padding: 10px;
    }

    .tema {
        width: 95%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

}