<div class="container">

    <h1>
        Jogo da Memória Educativo
    </h1>

    <p>
        Escolha um jogo
    </p>

    <div class="tema">

        <h2>
            Biologia Celular
        </h2>

        <div *ngFor="let jogo of jogosCitologia">

            <button (click)="iniciarJogo(jogo.id)">

                {{ jogo.nome }}

            </button>

        </div>

    </div>

    <div class="tema">

        <h2>
            Genética
        </h2>

        <div *ngFor="let jogo of jogosGenetica">

            <button (click)="iniciarJogo(jogo.id)">

                {{ jogo.nome }}

            </button>

        </div>

    </div>

    <div class="tema">

        <h2>Ecologia</h2>
    
        <div *ngFor="let jogo of jogosEcologia">
    
            <button (click)="iniciarJogo(jogo.id)">
                {{ jogo.nome }}
            </button>
    
        </div>
    
    </div>
</div>