<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Algo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Páginas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" href="#">Action</a></li>
            <li><a class="dropdown-item fw-bold" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fw-bold" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="alternarTema()">
            <i class="bi bi-moon-stars-fill mt-3"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container py-5">

    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold text-warning bi bi-grid-fill">
            Jogo da Memória Educativo <i class="bi bi-grid-fill"></i>
        </h1 >

        <p class="lead fw-bold">
            Escolha um tema para começar <i class="bi bi-emoji-smile-fill"></i>
        </p>
    </div>

    <div class="row g-4">

        <!-- Biologia Celular -->
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">

                    <h2 class="card-title fw-bold titulo-celular">
                        Biologia Celular
                    </h2>

                    <div
                        *ngFor="let jogo of jogosCitologia"
                        class="d-grid gap-2 mb-2">

                        <button
                            (click)="iniciarJogo(jogo.id)"
                            class="btnTop-celular fs-5 text fw-bold">

                            {{ jogo.nome }}

                        </button>

                    </div>

                </div>
            </div>
        </div>

        <!-- Genética -->
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">

                    <h2 class="card-title fw-bold titulo-genetica">
                        Genética
                    </h2>

                    <div
                        *ngFor="let jogo of jogosGenetica"
                        class="d-grid gap-2 mb-2">

                        <button
                            (click)="iniciarJogo(jogo.id)"
                            class="btnTop-genetica fs-5 text fw-bold">

                            {{ jogo.nome }}

                        </button>

                    </div>

                </div>
            </div>
        </div>

        <!-- Ecologia -->
        <div class="col-md-4">
            <div class="card h-100 shadow">
                <div class="card-body text-center">

                    <h2 class="card-title fw-bold titulo-ecologia">
                        Ecologia
                    </h2>

                    <div
                        *ngFor="let jogo of jogosEcologia"
                        class="d-grid gap-2 mb-2">

                        <button
                            (click)="iniciarJogo(jogo.id)"
                            class="btnTop-ecologia fs-5 text fw-bold">

                            {{ jogo.nome }}

                        </button>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>