<div class="container">

    <h1>

        Jogo da Memória

    </h1>

    <div class="informacoes">

        <p>

            Acertos: {{ acertos }}

        </p>

        <p>
            Tentativas: {{ erros + acertos }}


        </p>

    </div>

    <div class="tabuleiro">

        @for (carta of cartas; track carta; let i = $index) {

        <button #cartaBotao [class]="
'carta' +

(carta.virada ? ' virada' : '') +

(carta.acertada ? ' acertada' : '') +

(indicesErrados.includes(i) ? ' errada' : '')
" (keydown)="moverFoco($event, i)" 
            (click)="virarCarta(carta)" [attr.aria-label]="carta.virada ? carta.conteudo : 'Carta virada para baixo'">

            {{ carta.virada ? carta.conteudo : '?' }}

        </button>

        }

    </div>

    @if (jogoFinalizado) {

    <div class="fim-jogo">

        <h2>

            Você venceu!

        </h2>

        <div class="botoes-finais">

            <button class="botao-reiniciar" (click)="reiniciarJogo()">

                Jogar novamente

            </button>

            <button class="botao-sair" (click)="sairJogo()">

                Sair

            </button>

        </div>

    </div>
    }

</div>