<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fw-bold" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="#">Algo</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Páginas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" href="#">Action</a></li>
            <li><a class="dropdown-item fw-bold" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item fw-bold" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="alternarTema()">
            <i class="bi bi-moon-stars-fill mt-3"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

    <h1 class="display-4 fw-bold text-warning bi bi-grid-fill">
        Jogo da Memória <i class="bi bi-grid-fill"></i>
    </h1>

    <div class="informacoes">

        <p class="lead fw-bold">
            Acertos: {{ acertos }}
        </p>

        <p class="lead fw-bold">
            Tentativas: {{ erros + acertos }}
        </p>

    </div>

    <div class="tabuleiro">

        @for (carta of cartas; track carta; let i = $index) {

        <button #cartaBotao [class]="
'carta' +

(carta.virada ? ' virada' : '') +

(carta.acertada ? ' acertada' : '') +

(indicesErrados.includes(i) ? ' errada' : '')
" (keydown)="moverFoco($event, i)" 
            (click)="virarCarta(carta)" [attr.aria-label]="carta.virada ? carta.conteudo : 'Carta virada para baixo'">

            {{ carta.virada ? carta.conteudo : '?' }}

        </button>

        }

    </div>

    @if (jogoFinalizado) {

    <div class="fim-jogo">

        <h2 class="display-6 fw-bold text-warning bi bi-award-fill">

            Você venceu! 

        </h2>

        <div class="botoes-finais">

            <button class="botao-reiniciar fw-bold" (click)="reiniciarJogo()">
                Jogar novamente
            </button>

            <button class="botao-sair fw-bold" (click)="sairJogo()">
                Sair
            </button>

        </div>

    </div>
    }

</div>